<ul>
    
    <label for="Dropdown">Products:</label>

    <select name="product" id="product">
      <option value="noodles">noodles</option>
      <option value="biscuits">biscuits</option>
      <option value="chocolates">chocolates</option>
      <option value="surya">surya</option>
      
    </select>
    
</ul>
<ul>
    <label for="Available">Available Qty:</label>
    <input type="number" name="availableProducts" value="45" disabled>

</ul>

<ul>
    <label for="Qty">Qty:</label>
    <input type="number" name="Qty">

</ul>

<ul>
    <label for="Price">Unit Price:</label>
    <input type="button" name="Price" value="200">

</ul>

<ul>
    <label for="Price">Total Price:</label>
    <input type="button" name="Price" value="">

</ul>
<ul>
   <input type="submit" name="sale" value="sale">

</ul>
